@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Manrope:wght@200;300;400;500;600;700;800&family=Shippori+Antique&display=swap");
.heading-1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 375px) {
  .heading-1 {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.6rem;
    line-height: 4rem;
    letter-spacing: 0.128571rem;
  }
}

.heading-2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 0.15rem;
}

.heading-3 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: 0.115rem;
}

.heading-4 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.2rem;
}

.heading-5 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: 0.17rem;
}

.heading-6 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 1.3rem;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem;
}

.sub-title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.p-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.see-product-btn {
  padding: 1.5rem 3.05rem;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

.primary-color-btn {
  color: #FFFFFF;
  background: #D87D4A;
  border: none;
}
.primary-color-btn:hover {
  cursor: pointer;
  background: #FBAF85;
}

.secondary-color-btn {
  color: #FFFFFF;
  background: #101010;
  border: none;
}
.secondary-color-btn:hover {
  cursor: pointer;
  background: #4d4d4d;
}

.gray-color-btn {
  color: #000000;
  border: none;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.gray-color-btn:hover {
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
}

.section-shop {
  font-size: 13px;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
}
.section-shop::after {
  content: url(/assets/shared/desktop/icon-arrow-right.svg);
  color: #D87D4A;
  padding-left: 5px;
}

footer {
  padding-top: 75px;
  padding-bottom: 48px;
  background: #181818;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  footer {
    height: 400px;
    padding-top: 48px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 375px) {
  footer {
    height: 654px;
    padding-top: 48px;
    padding-bottom: 38px;
  }
}
footer #footer-container {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  max-width: 111rem;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  footer #footer-container {
    max-width: 689px;
    gap: 2.7rem;
  }
}
@media only screen and (max-width: 375px) {
  footer #footer-container {
    max-width: 327px;
    gap: 4.8rem;
  }
}
footer #footer-container #footer-div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4.8rem;
}
@media only screen and (max-width: 768px) {
  footer #footer-container #footer-div1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
  }
}
footer #footer-container #footer-div1 .audiophile-logo {
  width: 100%;
}
@media only screen and (max-width: 375px) {
  footer #footer-container #footer-div1 .audiophile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
footer #footer-container #footer-div1 ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 3.4rem;
}
@media only screen and (max-width: 375px) {
  footer #footer-container #footer-div1 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
footer #footer-container #footer-div1 ul li a {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #FFFFFF;
}
footer #footer-container #footer-div1 ul li a:hover {
  cursor: pointer;
  color: #D87D4A;
}
footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper {
  width: 100%;
}
footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.6rem;
  margin: auto;
}
footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper #footer-text {
  max-width: 540px;
  height: 100px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper #footer-text {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 375px) {
  footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper #footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 1/2;
    max-width: 327px;
    height: 150px;
  }
}
footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper #footer-imgs {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1.6rem;
  width: 100%;
}
footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper #footer-imgs img:hover {
  cursor: pointer;
  -webkit-filter: grayscale(90%) brightness(40%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(1);
  filter: grayscale(90%) brightness(50%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(1);
}
@media only screen and (max-width: 768px) {
  footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper #footer-imgs {
    grid-column: 2/3;
  }
}
@media only screen and (max-width: 375px) {
  footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper #footer-imgs {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper p#footer-copyright {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper p#footer-copyright {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media only screen and (max-width: 375px) {
  footer #footer-container #footer-div2 #footer-text-and-imgs-wrapper-wrapper #footer-text-and-imgs-wrapper p#footer-copyright {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.product-section-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12.5rem;
}
@media only screen and (max-width: 768px) {
  .product-section-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    height: 633px;
    gap: 6.2rem;
  }
}
@media only screen and (max-width: 375px) {
  .product-section-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    height: 698px;
    gap: 4rem;
  }
}
.product-section-category .product-section-category-img picture img {
  border-radius: 0.8rem;
}
@media only screen and (max-width: 768px) {
  .product-section-category .product-section-category-img picture img {
    max-width: 689px;
    height: 300px;
  }
}
@media only screen and (max-width: 375px) {
  .product-section-category .product-section-category-img picture img {
    max-width: 327px;
    height: 300px;
  }
}
.product-section-category .product-section-category-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3.2rem;
  max-width: 445px;
  height: 295px;
}
@media only screen and (max-width: 768px) {
  .product-section-category .product-section-category-text {
    max-width: 573px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .product-section-category .product-section-category-text {
    max-width: 327px;
    height: 358px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-category .product-section-category-text h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .product-section-category .product-section-category-text h2 {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-category .product-section-category-text p.p-text {
    text-align: center;
  }
}

#best {
  color: #D87D4A;
}

@media only screen and (max-width: 375px) {
  header {
    height: 600px;
  }
}
header #header-container #header-background {
  background-image: url(/assets/home/desktop/image-hero-copy.jpg);
  height: 640px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  header #header-container #header-background {
    background-image: url(/assets/home/tablet/image-header.jpg);
    background-size: 100% 100%;
    height: 640px;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 375px) {
  header #header-container #header-background {
    background-image: url(/assets/home/mobile/image-header.jpg);
    background-size: 100% 100%;
    height: 510px;
    background-repeat: no-repeat;
  }
}
header #header-container #header-background #header-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 1100px;
  height: 100%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  header #header-container #header-background #header-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
header #header-container #header-background #header-section-wrapper #header-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  max-width: 379px;
  height: 346px;
  gap: 4rem;
}
@media only screen and (max-width: 768px) {
  header #header-container #header-background #header-section-wrapper #header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  header #header-container #header-background #header-section-wrapper #header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 328px;
    height: 290px;
  }
}
header #header-container #header-background #header-section-wrapper #header-section #header-section-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}
@media only screen and (max-width: 768px) {
  header #header-container #header-background #header-section-wrapper #header-section #header-section-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
header #header-container #header-background #header-section-wrapper #header-section #header-section-text-wrapper #header-new-product {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
header #header-container #header-background #header-section-wrapper #header-section #header-section-text-wrapper #header-h1 {
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  header #header-container #header-background #header-section-wrapper #header-section #header-section-text-wrapper #header-h1 {
    text-align: center;
  }
}
header #header-container #header-background #header-section-wrapper #header-section #header-section-text-wrapper #header-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #FFFFFF;
  width: 34.9rem;
  height: 7.5rem;
}
@media only screen and (max-width: 768px) {
  header #header-container #header-background #header-section-wrapper #header-section #header-section-text-wrapper #header-text {
    text-align: center;
  }
}

header {
  width: 100%;
}

#nav-container {
  background-color: #181818;
  width: 100%;
}
#nav-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1100px;
  margin: auto;
  height: 96px;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  #nav-container nav {
    height: 89px;
    max-width: 689px;
  }
}
@media only screen and (max-width: 375px) {
  #nav-container nav {
    max-width: 327px;
  }
}
#nav-container nav .burger {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  #nav-container nav .burger {
    display: block;
    margin-right: 0;
  }
}
#nav-container nav .burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
#nav-container nav #nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  #nav-container nav #nav-ul {
    display: none;
  }
}
#nav-container nav #nav-ul li {
  padding: 0 17px;
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
}
#nav-container nav #nav-ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
#nav-container nav #nav-ul li a:hover {
  color: #D87D4A;
}
#nav-container hr {
  max-width: 1110px;
  margin: auto;
  border: none;
  height: 1px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.section-of-products-navbar-wrapper {
  display: none;
  background-color: white;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  .section-of-products-navbar-wrapper {
    position: absolute;
    position: fixed;
    z-index: 999;
    max-width: 768px;
    height: 340px;
    background-color: #FFFFFF;
    right: 0;
    left: 0;
  }
  .section-of-products-navbar-wrapper body {
    filter: blur(2px);
  }
}
@media only screen and (max-width: 375px) {
  .section-of-products-navbar-wrapper {
    height: 750px;
    top: 174px;
    padding-top: 84px;
  }
}

@media only screen and (max-width: 768px) {
  .display-navbar {
    display: inline-block;
  }
}

section.section-of-products {
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  section.section-of-products {
    max-width: 689px;
    gap: 10px;
  }
}
@media only screen and (max-width: 375px) {
  section.section-of-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 327px;
    height: 683px;
    gap: 6.8rem;
  }
}
section.section-of-products a {
  text-decoration: none;
}
section.section-of-products a .section-products {
  position: relative;
  width: 350px;
  height: 204px;
  margin-top: 80px;
  background: #F1F1F1;
  border-radius: 8px;
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  section.section-of-products a .section-products {
    max-width: 223px;
    height: 165px;
  }
}
@media only screen and (max-width: 375px) {
  section.section-of-products a .section-products {
    max-width: 327px;
    height: 165px;
  }
}
section.section-of-products a .section-products .img-section {
  position: absolute;
  left: 0x;
  top: -50px;
  width: 150px;
}
section.section-of-products a .section-products .products-section-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}
section.section-of-products a .section-products p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
section.section-of-products a .section-products .section-name {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.128571rem;
  color: #000000;
}
section.section-of-products a .section-products:hover .section-shop {
  color: #D87D4A;
}

#home-container {
  display: grid;
  grid-template-rows: 729px 1fr 588px 365px;
  gap: 168px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  #home-container {
    grid-template-rows: 729px 1fr 633px 365px;
    gap: 96px;
  }
}
@media only screen and (max-width: 375px) {
  #home-container {
    grid-template-rows: 600px 1fr 633px 365px;
    gap: 120px;
  }
}

.home-main-container {
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16.8rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container {
    max-width: 689px;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container {
    max-width: 327px;
  }
}
.home-main-container section #items-main-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container {
    gap: 3.2rem;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container {
    gap: 2.4rem;
  }
}
.home-main-container section #items-main-container #main-container1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
  width: 100%;
  height: 56rem;
  background: #D87D4A;
  color: #FFFFFF;
  border-radius: 0.8rem;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.home-main-container section #items-main-container #main-container1 #main-img-div {
  margin-bottom: -9rem;
  margin-left: 11.749rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container1 #main-img-div {
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}
.home-main-container section #items-main-container #main-container1 #main-img-div picture img {
  width: 41.023rem;
  height: 49.3rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container1 #main-img-div picture img {
    width: 19.721rem;
    height: 23.7rem;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container #main-container1 #main-img-div picture img {
    width: 17.225rem;
    height: 20.7rem;
  }
}
.home-main-container section #items-main-container #main-container1 #main-text-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 34.9rem;
  height: 30.3rem;
  margin-top: 13.3rem;
  margin-right: 9.5rem;
  margin-bottom: 12.4rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container1 #main-text-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container1 #main-text-div {
    height: 28rem;
  }
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container1 #main-text-div h2 {
    text-align: center;
  }
}
.home-main-container section #items-main-container #main-container1 #main-text-div p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container1 #main-text-div p {
    text-align: center;
  }
}
.home-main-container section #items-main-container #main-container2 {
  background: url(/assets/home/desktop/image-speaker-zx7.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: auto;
  width: 100%;
  height: 320px;
  border-radius: 0.8rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container2 {
    background-image: url(/assets/home/tablet/image-speaker-zx7.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container #main-container2 {
    background-image: url(/assets/home/mobile/image-speaker-zx7.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
.home-main-container section #items-main-container #main-container2 #main2-text-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  margin-left: 9.5rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container2 #main2-text-div {
    margin-left: 6.2rem;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container #main-container2 #main2-text-div {
    margin-left: 2.4rem;
  }
}
.home-main-container section #items-main-container #main-container3 {
  display: flex;
  align-items: font-stretch;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  width: 100%;
  height: 32rem;
  gap: 3rem;
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container #main-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 424px;
    gap: 2.4rem;
  }
}
.home-main-container section #items-main-container #main-container3 #main3-div1 picture img {
  border-radius: 0.8rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container3 #main3-div1 picture img {
    max-width: 339px;
    height: 320px;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container #main-container3 #main3-div1 picture img {
    max-width: 327px;
    height: 200px;
  }
}
.home-main-container section #items-main-container #main-container3 #main3-div2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #F1F1F1;
  border-radius: 0.8rem;
}
.home-main-container section #items-main-container #main-container3 #main3-div2 #main3-div2-items-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
  margin-left: 9.5rem;
}
@media only screen and (max-width: 768px) {
  .home-main-container section #items-main-container #main-container3 #main3-div2 #main3-div2-items-wrapper {
    margin-left: 4.1rem;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container #main-container3 #main3-div2 #main3-div2-items-wrapper {
    margin-left: 2.4rem;
  }
}
@media only screen and (max-width: 375px) {
  .home-main-container section #items-main-container #main-container3 #main3-div2 {
    max-width: 327px;
    height: 200px;
  }
}

#checkout-container {
  display: grid;
  grid-template-rows: 97px 1fr 365px;
  gap: 160px;
}

#checkout-body {
  background-color: #F2F2F2;
}

.checkout-and-summary-form {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .checkout-and-summary-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.checkout-and-summary-form .checkout-section {
  width: 730px;
  height: 1226px;
  background-color: #fff;
  padding: 54px 48px;
}
@media only screen and (max-width: 768px) {
  .checkout-and-summary-form .checkout-section {
    max-width: 689px;
  }
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section {
    max-width: 327px;
    height: 1358px;
    padding: 0;
  }
}
.checkout-and-summary-form .checkout-section h3 {
  margin-bottom: 41px;
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper {
  gap: 53px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section .all-inputs-wrapper {
    width: 280px;
  }
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .billing-details #billing-details-inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section .all-inputs-wrapper .billing-details #billing-details-inputs-wrapper {
    display: block;
  }
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper h4 {
  margin-bottom: 16px;
  color: #D87D4A;
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .shipping-info #shipping-info-inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section .all-inputs-wrapper .shipping-info #shipping-info-inputs-wrapper {
    display: block;
  }
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .shipping-info #shipping-info-inputs-wrapper #your-address-wrapper {
  grid-column: 1/3;
  grid-row: 1/2;
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .shipping-info #shipping-info-inputs-wrapper #your-address-wrapper #your-address {
  width: 634px;
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section .all-inputs-wrapper .shipping-info #shipping-info-inputs-wrapper #your-address-wrapper #your-address {
    width: 280px;
  }
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .payment-details #payment-details-inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section .all-inputs-wrapper .payment-details #payment-details-inputs-wrapper {
    display: block;
  }
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .payment-details #payment-details-inputs-wrapper #cash-on-delivery-wrapper {
  grid-column: 2/3;
  grid-row: 2/3;
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .payment-details #payment-details-inputs-wrapper #e-money-number-wrapper {
  grid-column: 1/2;
  grid-row: 3/4;
}
.checkout-and-summary-form .checkout-section .all-inputs-wrapper .payment-details #payment-details-inputs-wrapper #e-money-pin-wrapper {
  grid-column: 2/3;
  grid-row: 3/4;
}
.checkout-and-summary-form .checkout-section .inputs-wrapper .each-input-wrapper {
  margin-bottom: 24px;
}
.checkout-and-summary-form .checkout-section .inputs-wrapper .input-name {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.02rem;
}
.checkout-and-summary-form .checkout-section .inputs-wrapper input[type=text] {
  width: 309px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 24px;
  margin-top: 9px;
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section .inputs-wrapper input[type=text] {
    width: 280px;
  }
}
.checkout-and-summary-form .checkout-section .inputs-wrapper .radio-button-wrapper {
  padding-left: 21px;
  display: flex;
  align-items: center;
  gap: 21px;
  width: 309px;
  height: 56px;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .checkout-section .inputs-wrapper .radio-button-wrapper {
    width: 280px;
  }
}
.checkout-and-summary-form .summary-section {
  width: 350px;
  height: 100%;
  background-color: #fff;
  padding: 32px 33px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .checkout-and-summary-form .summary-section {
    width: 689px;
    height: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .checkout-and-summary-form .summary-section {
    max-width: 327px;
    height: 100%;
  }
}
.checkout-and-summary-form .summary-section h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
}
.checkout-and-summary-form .summary-section h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.checkout-and-summary-form .summary-section #total-shipping-vat-grand-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.checkout-and-summary-form .summary-section #total-shipping-vat-grand-wrapper .properties {
  display: flex;
  justify-content: space-between;
}
.checkout-and-summary-form .summary-section #total-shipping-vat-grand-wrapper .properties .property {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
}
.checkout-and-summary-form .summary-section #total-shipping-vat-grand-wrapper .properties .value {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}
.checkout-and-summary-form .summary-section #total-shipping-vat-grand-wrapper .properties .value::before {
  content: "$";
}
.checkout-and-summary-form .summary-section #total-shipping-vat-grand-wrapper .properties #grand-value {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #D87D4A;
}
.checkout-and-summary-form .summary-section #continue-and-pay {
  height: 48px;
  border: none;
  background-color: #D87D4A;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.checkout-and-summary-form .summary-section #continue-and-pay:hover {
  background: #FBAF85;
}

.headphones-speakers-earphones-container {
  display: grid;
  grid-template-rows: 336px 1fr 284px 633px 365px;
  gap: 160px;
}
@media only screen and (max-width: 768px) {
  .headphones-speakers-earphones-container {
    grid-template-rows: 336px 1fr 217px 633px 400px;
    gap: 160px;
  }
}
@media only screen and (max-width: 375px) {
  .headphones-speakers-earphones-container {
    grid-template-rows: 192px 1fr 683px 698px 654px;
    gap: 160px;
  }
}

.header-background {
  background-color: #181818;
  height: 239px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 375px) {
  .header-background {
    height: 102px;
  }
}
.header-background h2 {
  color: #FFFFFF;
}

main.main-products-categories {
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 160px;
  margin: auto;
}
@media only screen and (max-width: 375px) {
  main.main-products-categories {
    gap: 120px;
  }
}
main.main-products-categories .product-section-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 125px;
}
@media only screen and (max-width: 768px) {
  main.main-products-categories .product-section-category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 52px;
  }
}
main.main-products-categories .product-section-category picture img {
  max-width: 540px;
  height: 560px;
}
@media only screen and (max-width: 768px) {
  main.main-products-categories .product-section-category picture img {
    max-width: 689px;
    height: 352px;
  }
}
@media only screen and (max-width: 375px) {
  main.main-products-categories .product-section-category picture img {
    max-width: 327px;
    height: 352px;
  }
}
main.main-products-categories .product-section-category .product-section-category-text p.overline {
  color: #D87D4A;
}
@media only screen and (max-width: 768px) {
  main.main-products-categories .product-section-category .product-section-category-text p.p-text {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  main.main-products-categories .product-section-category .product-section-category-text h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  main.main-products-categories .product-section-category .product-section-category-text h2 {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (max-width: 768px) {
  #headphones-main2 {
    flex-direction: column-reverse;
  }
}

.all-kinds-of-products-wrapper {
  display: grid;
  grid-template-rows: 97px 560px 318px 592px 571px 284px 588px 365px;
  gap: 160px;
}
@media only screen and (max-width: 768px) {
  .all-kinds-of-products-wrapper {
    grid-template-rows: 90px 480px 595px 368px 563px 217px 633px 400px;
    gap: 160px;
  }
}
@media only screen and (max-width: 375px) {
  .all-kinds-of-products-wrapper {
    grid-template-rows: 90px 755px 840px 756px 983px 683px 698px 654px;
    gap: 160px;
  }
}

.main-products-categories {
  max-width: 1110px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .main-products-categories {
    max-width: 689.5px;
  }
}
@media only screen and (max-width: 375px) {
  .main-products-categories {
    max-width: 327px;
  }
}
.main-products-categories .go-back-container {
  position: absolute;
  left: 0;
  top: -56px;
}

.go-back {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.one-product-section-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 125px;
}
@media only screen and (max-width: 768px) {
  .one-product-section-category {
    gap: 69px;
  }
}
@media only screen and (max-width: 375px) {
  .one-product-section-category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
}
.one-product-section-category picture img {
  border-radius: 8px;
  max-width: 540px;
  height: 560px;
}
@media only screen and (max-width: 768px) {
  .one-product-section-category picture img {
    max-width: 281px;
    height: 480px;
  }
}
@media only screen and (max-width: 375px) {
  .one-product-section-category picture img {
    max-width: 327px;
    height: 327px;
  }
}
.one-product-section-category .one-product-section-category-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 445px;
  height: 388px;
}
@media only screen and (max-width: 768px) {
  .one-product-section-category .one-product-section-category-text {
    max-width: 689px;
    height: 390px;
  }
}
@media only screen and (max-width: 375px) {
  .one-product-section-category .one-product-section-category-text {
    max-width: 327px;
    height: 396px;
  }
}
@media only screen and (max-width: 375px) {
  .one-product-section-category .one-product-section-category-text h2 {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;
  }
}
.one-product-section-category .one-product-section-category-text .overline {
  color: #D87D4A;
}
.one-product-section-category .one-product-section-category-text .price-button-wrapper {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.128rem;
  color: #000000;
  display: grid;
  gap: 47px;
}
.one-product-section-category .one-product-section-category-text .price-button-wrapper .price::before {
  content: "$";
}
.one-product-section-category .one-product-section-category-text .price-button-wrapper .quantity-setter-and-button-wrapper {
  display: flex;
  width: 296px;
  height: 48px;
  gap: 16px;
}
.one-product-section-category .one-product-section-category-text .price-button-wrapper .quantity-setter-and-button-wrapper .quantity-setter {
  padding: auto;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  background: #F1F1F1;
}
.one-product-section-category .one-product-section-category-text .price-button-wrapper .quantity-setter-and-button-wrapper .quantity-setter .number-setter {
  padding: 15px;
}
.one-product-section-category .one-product-section-category-text .price-button-wrapper .quantity-setter-and-button-wrapper .quantity-setter .plus-minus {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
  border: none;
  text-align: center;
  color: #000000;
  opacity: 0.25;
}
.one-product-section-category .one-product-section-category-text .price-button-wrapper .quantity-setter-and-button-wrapper .quantity-setter .plus-minus:hover {
  background-color: #bebebe;
  color: #D87D4A;
  opacity: 1;
  cursor: pointer;
}

.features-and-in-the-box {
  max-width: 1110px;
  height: 318px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 125px;
}
@media only screen and (max-width: 768px) {
  .features-and-in-the-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 689px;
  }
}
@media only screen and (max-width: 375px) {
  .features-and-in-the-box {
    max-width: 327px;
  }
}
.features-and-in-the-box .features-and-text {
  max-width: 635px;
  height: 318px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .features-and-in-the-box .features-and-text {
    max-width: 689px;
    height: 318px;
  }
}
@media only screen and (max-width: 375px) {
  .features-and-in-the-box .features-and-text {
    max-width: 327px;
    height: 475px;
  }
}
@media only screen and (max-width: 375px) {
  .features-and-in-the-box .features-and-text h3 {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.08rem;
  }
}
.features-and-in-the-box .features-and-text p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.features-and-in-the-box .in-the-box {
  max-width: 350px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .features-and-in-the-box .in-the-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 689px;
    height: 157px;
  }
}
@media only screen and (max-width: 375px) {
  .features-and-in-the-box .in-the-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .features-and-in-the-box .in-the-box h3 {
    max-width: 339px;
  }
}
@media only screen and (max-width: 375px) {
  .features-and-in-the-box .in-the-box h3 {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.08rem;
  }
}
.features-and-in-the-box .in-the-box ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
}
@media only screen and (max-width: 768px) {
  .features-and-in-the-box .in-the-box ul {
    max-width: 200px;
    height: 157px;
  }
}
.features-and-in-the-box .in-the-box ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.features-and-in-the-box .in-the-box ul li span {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #D87D4A;
  padding-right: 24px;
}

.image-grid-container {
  max-width: 1110px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 32px;
}
@media only screen and (max-width: 768px) {
  .image-grid-container {
    max-width: 689px;
    column-gap: 18px;
    row-gap: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .image-grid-container {
    max-width: 327px;
    display: flex;
    flex-direction: column;
  }
}
.image-grid-container .image-grid img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.image-grid-container .image-two-headphones-grid1 {
  max-width: 445px;
  height: 280px;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media only screen and (max-width: 768px) {
  .image-grid-container .image-two-headphones-grid1 {
    max-width: 227px;
    height: 174px;
  }
}
@media only screen and (max-width: 375px) {
  .image-grid-container .image-two-headphones-grid1 {
    max-width: 327px;
    height: 174px;
  }
}
.image-grid-container .image-two-headphones-grid2 {
  max-width: 445px;
  height: 280px;
  grid-column: 1/2;
  grid-row: 2/3;
}
@media only screen and (max-width: 768px) {
  .image-grid-container .image-two-headphones-grid2 {
    max-width: 227px;
    height: 174px;
  }
}
@media only screen and (max-width: 375px) {
  .image-grid-container .image-two-headphones-grid2 {
    max-width: 327px;
    height: 174px;
  }
}
.image-grid-container .image-two-headphones-grid3 {
  width: 635px;
  height: 592px;
  grid-column: 2/3;
  grid-row: 1/3;
}
@media only screen and (max-width: 768px) {
  .image-grid-container .image-two-headphones-grid3 {
    max-width: 396px;
    height: 368px;
  }
}
@media only screen and (max-width: 375px) {
  .image-grid-container .image-two-headphones-grid3 {
    max-width: 327px;
    height: 368px;
  }
}

.you-may-like {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}
.you-may-like .you-may-like-all-wrapper {
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .you-may-like .you-may-like-all-wrapper {
    gap: 11px;
  }
}
@media only screen and (max-width: 375px) {
  .you-may-like .you-may-like-all-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.you-may-like .you-may-like-all-wrapper .you-may-like-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.you-may-like .you-may-like-all-wrapper .you-may-like-product h3 {
  color: #000000;
  margin-top: 40px;
  margin-bottom: 32px;
}
.you-may-like .you-may-like-all-wrapper .you-may-like-product .you-may-like-product-img img {
  max-width: 350px;
  height: 318px;
}
@media only screen and (max-width: 768px) {
  .you-may-like .you-may-like-all-wrapper .you-may-like-product .you-may-like-product-img img {
    max-width: 223px;
    height: 318px;
  }
}
@media only screen and (max-width: 375px) {
  .you-may-like .you-may-like-all-wrapper .you-may-like-product .you-may-like-product-img img {
    max-width: 327px;
    height: 120px;
  }
}

@media only screen and (max-width: 768px) {
  #speakers-main2 {
    flex-direction: column-reverse;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

/*# sourceMappingURL=main.css.map */
