footer {
    padding-top: 75px;
    padding-bottom: 48px;
    background: $nav-color;
    color: $color-light;

    @include media-tablet {
        height: 400px;   
        padding-top: 48px;
        padding-bottom: 50px;  
    }

    @include media-mobile {
        height: 654px;   
        padding-top: 48px;
        padding-bottom: 38px; 
    }

    #footer-container {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;
        max-width: 111rem;
        margin: auto;

        @include media-tablet {
            max-width: 689px;  
            gap: 2.7rem;    
        }
    
        @include media-mobile {
            max-width: 327px;  
            gap: 4.8rem;     
        }

        #footer-div1 {
            @include flex (center, center);
            gap: 4.8rem;

            @include media-tablet {
                @include flex (flex-start, space-between, column);
                gap: 32px;
            }

            .audiophile-logo {
                width: 100%;
                

                @include media-mobile {
                    @include center;
                }
            }

            ul {
                list-style: none;
                @include flex (center, space-between);
                gap: 3.4rem;

                @include media-mobile {
                    @include flex (center, center, column);
                    gap: 16px;
                    width: 100%;
                }
    
                li {
                    a {
                        @include heading-styles (1.3rem, 2.5rem, 0.2rem);
                        text-decoration: none;
                        color: $color-light;

                        &:hover {
                            cursor: pointer;
                            color: $primary;
                        }
                    }
                }
            }
        }

        #footer-div2 {
            #footer-text-and-imgs-wrapper-wrapper {
                width: 100%;
                // height: 100%;

                #footer-text-and-imgs-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5.6rem;
                    margin: auto;

                    // @include media-mobile {
                    //     grid-template-rows: 1fr 1fr 1fr;
                    // }
    
                    #footer-text {
                        max-width: 540px;
                        height: 100px;
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        color: $color-light;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        width: 100%;

                        @include media-tablet {
                            grid-column: 1/3;
                        }

                        @include media-mobile {
                            @include center;
                            grid-column: 1/3;
                            grid-row: 1/2;
                            max-width: 327px;
                            height: 150px;
                        }
                    }

                    #footer-imgs {
                        @include flex (flex-end, flex-end);
                        gap: 1.6rem; 
                        width: 100%;
        
                        img:hover {
                            cursor: pointer;

                            -webkit-filter: grayscale(90%) brightness(40%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(1);
                            filter: grayscale(90%) brightness(50%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(1);
                        }

                        @include media-tablet {
                            grid-column: 2/3;
                        }

                        @include media-mobile {
                            grid-column: 1/3;
                            grid-row: 3/4;
                            @include center;
                        }
                    }
        
                    p#footer-copyright {
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 25px;
                        color: $color-light;
                        mix-blend-mode: normal;
                        opacity: 0.5;

                        @include media-tablet {
                            grid-column: 1/2;
                            grid-row: 2/3;
                        }

                        @include media-mobile {
                            grid-column: 1/3;
                            grid-row: 2/3;
                            @include center;
                        }
                    }
                }
            }
        }
    }
}